<%= render 'teams/partials/header', team: @team %>

<div class="cards-container">
  <% if @team.next_meeting.present? %>
    <%= render 'teams/partials/meeting', meeting: @team.next_meeting %>
  <% end %>

  <% if @team.next_event.present? %>
    <%= render 'teams/partials/event', event: @team.next_event %>
  <% end %>

  <% if @team.is_superteam? %>
    <%= render 'teams/partials/teams', subteams: @team.subteams %>
  <% end %>

  <%= render 'teams/partials/note', notes: @team.notes.last(3) %>
</div>


<!--<p>-->
<!--  <strong>Description:</strong>-->
  <%#= @team.description %>
<!--</p>-->

<!--<p>-->
  <%# @team.members.each do |member| %>
    <%#= member.name %>
  <%# end %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Invited members:</strong>-->
  <%# @team.invited_users.each do |user| %>
    <%#= user.first_name || user.email %>
  <%# end %>

<!--</p>-->

<!--<h3>Meetings:</h3>-->
<%# @team.meetings.each do |meeting| %>
<!--  <%#= meeting.name %> <br/>-->
<%# end %>
<%#= @team.meetings.length %>

<!--<p>-->
  <%# @team.notes.each do |note| %>
<!--    <p>-->
<!--      <h3><%#= note.title %></h3>-->
      <%#= note.body %>
<!--      <hr>-->
      <%#= note.creator.name %>
<!--    </p>-->
  <%# end %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_team_path(@team) %> |-->
<!--<%#= link_to 'Back', teams_path %> |-->

<%= link_to new_user_invitation_path(team_id: @team.id) do %>
  <div class="card new special">
    Invitation
  </div>
<% end %>


<%= javascript_pack_tag 'teams', team: @team %>
<%= render 'layouts/navigation', current: 'Home' %>
