<%= form_with(model: chatroom) do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
        <% chatroom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.select :send_to, chattable.map{ |c| [c.name, "#{c.class.name}, #{c.id}"] } %>
    <%= form.submit %>
  </div>

  <% ActiveAdmin.register Product do%>
  form do |f|
  f.input(:category, as: :searchable_select)
  end
  end
<% end %>
