<p id="notice"><%= notice %></p>

<header class="home-team">
  <h1>Chat</h1>
</header>
<%#= render 'form', chatroom: @chatroom, chattable: @chattable %>

<div class="chat-container">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom do %>
      <div class="chat">
        <div class="left">img</div>
        <div class="right">
          <h3><%= chatroom.name(current_user) %></h3>
          <%= chatroom.messages.last&.user.first_name %>: <%= chatroom.messages.last&.content %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'layouts/navigation', current: 'Chat' %>

