<p id="notice"><%= notice %></p>

<%= @chatroom.name(current_user) %>

<div class="chatroom-<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render partial: 'chatrooms/partials/message', locals: {message: message} %>
  <% end %>
</div>

<%= form_with model: @message, method: :post do |form| %>
  <%= form.hidden_field :chatroom_id, value: @chatroom.id %>
  <%= form.text_field :content  %>
  <%= form.submit 'Send', data: { disable_with: false } %>
<% end %>

<%= link_to 'Back', chatrooms_path %>
